---
import type { HTMLAttributes } from "astro/types";

import "@components/shared/ButtonLink.css";

interface Props extends RequireAttributes<HTMLAttributes<"a">, "href"> {
	variant?: "secondary";
}

const { href, variant = "primary", ...attrs } = Astro.props;
---

<a
	href={href}
	class:list={[
    "button-link",
    { "button-link--primary": variant === "primary" },
    { "button-link--secondary": variant === "secondary" },
  ]}
	{...attrs}>
	<slot />
</a>
