---
import type { HTMLAttributes } from "astro/types";

import "@components/shared/ButtonLink.css";

type Props = RequireAttributes<HTMLAttributes<"a">, "href"> & {
	className?: "string";
	variant?: "secondary" | "extension";
};

const { href, class: className, variant = "primary", ...attrs } = Astro.props;
---

<a
	href={href}
	class:list={[
		className,
    "button-link",
    { "button-link--primary": variant === "primary" },
    { "button-link--secondary": variant === "secondary" },
		{ "button-link--primary button-link__extension": variant === "extension" }
  ]}
	{...attrs}>
	<slot />
</a>
