.nav-list {
	display: block;
	list-style: none;
}

.nav-list--mobile {
	border-block-end: 1px solid var(--border-muted);

	&:first-of-type {
		border-block-start: 1px solid var(--border-muted);
	}
}

.nav-list__link {
	display: flex;
	justify-content: center;
	align-items: center;
	min-block-size: 2.5rem;
	padding-inline: 1rem;
	font-size: var(--fs-xs-reverse);
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.057em;
}

.nav-list__link--light {
	color: var(--neutral-grey-50);
}

.nav-list__link--dark {
	color: var(--text);
	padding-inline: 1.42rem;
	border-radius: 0.5em;
	corner-shape: squircle;
	background:
		linear-gradient(var(--primary-blue-600) 0 0) 50% calc(-3px - 100%) /
		var(--d, 0%) 200% no-repeat;
	transition:
		0.3s,
		background-size 0.3s 0.3s;

	&:hover {
		@media (hover: hover) {
			--d: 100%;
			background-position: 50% 0%;
			color: var(--neutral-grey-50);
			transition:
				0.3s,
				background-position 0.3s 0.3s,
				color 0.3s 0.3s;
		}
	}
}

.nav-list__link--mobile {
	min-block-size: 4rem;
	color: var(--neutral-grey-50);
	font-size: var(--fs-xl);
	letter-spacing: 0.12em;
}
