---
import "@components/shared/NavList.css";

const navLists = ["Features", "Pricing", "Contact"];

type Props = {
	variant: "light" | "dark" | "mobile";
};

const { variant } = Astro.props;
---

{navLists.map((list) =>
<li class="nav-list">
  <a
    href="/"
    class:list={[
    "nav-list__link",
    {"nav-list__link--light": variant === "light"},
    {"nav-list__link--dark": variant === "dark"},
    {"nav-list__link--mobile": variant === "mobile"}
    ]}>
    {list}
  </a>
</li>
)}
