.nav-list {
	list-style: none;
}

.nav-list__link {
	display: flex;
	align-items: center;
	min-block-size: 2.5rem;
	padding-inline: 1rem;
	font-size: var(--fs-xs-reverse);
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.057em;
}

.nav-list__link--light {
	color: var(--neutral-grey-50);
}

.nav-list__link--dark {
	color: var(--text);
	padding-inline: 1.42rem;
}

.nav-list__link--mobile {
	min-block-size: 3rem;
	color: var(--neutral-grey-50);
	font-size: var(--fs-xl);
	letter-spacing: 0.12em;
}
