.social-media-icon {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.social-media-icon__icon {
	inline-size: auto;
	block-size: 1.5rem;
	color: var(--neutral-grey-50);
	transition: all 0.2s ease;

	&:hover {
		@media (hover: hover) {
			color: var(--primary-red-400);
		}
	}
}

.social-media-icon__facebook-logo {
	block-size: 1.7rem;
}
