.hero {
	display: grid;
	gap: 3.5rem;
	justify-items: center;
	align-items: center;
	max-inline-size: 30rem;
	margin-block-start: clamp(3.2rem, 1.9288rem + 5.4237vw, 5.4rem);

	@media (width >= 48rem) {
		max-inline-size: 34rem;
	}

	@media (width >= 64rem) {
		grid-template-columns: minmax(40%, 1fr) auto;
		max-inline-size: 78.4rem;
	}
}

.hero__image-wrapper {
	anchor-name: --hero;
	padding-inline: 0.75rem;
	padding-block-end: clamp(0.625rem, -0.0612rem + 2.9276vw, 1.8125rem);

	@media (width >= 64rem) {
		order: 1;
		padding-inline: 0;
	}
}

.hero__image {
	inline-size: 100%;
	block-size: auto;
}

.hero__details-wrapper {
	padding-inline: 2rem;

	text-align: center;

	@media (width >= 64rem) {
		padding-block-end: 1.8125rem;
		padding-inline-end: 0;
		text-align: start;
	}
}

.hero__button-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;

	@media (width >= 64rem) {
		justify-content: start;
	}
}
