.not-found-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	inline-size: 100%;
	max-inline-size: 33rem;
	margin-inline: auto;
	padding: 2rem;
	border-radius: 1rem;
	corner-shape: squircle;
	text-align: center;
}

.not-found-page__header {
	color: var(--text);
	font-size: var(--fs-2xl);
	font-weight: 500;
}

.not-found-page__title {
	margin-block-start: 2rem;
}

.not-found-page__text {
	margin-block-start: 3rem;
}

.not-found-page__link {
	margin-block-start: 2rem;
}
