.signup-page {
	display: grid;
	justify-items: center;
	align-items: center;
}

.signup-page__wrapper {
	inline-size: 100%;
	max-inline-size: 33rem;
	padding: 2rem;
	border-radius: 1rem;
	corner-shape: squircle;
}

.signup-page__title {
	margin-block-end: 3rem;
	font-size: var(--fs-2xl);
	text-align: center;
}

.signup-page__text {
	margin-block-start: 1rem;
}

.signup-page__login-link {
	color: var(--primary-blue-600);
	padding-block-end: 0.2em;
}
