.contact-form {
	display: grid;
	align-items: start;
	gap: 1rem;
	margin-block-start: clamp(1.75rem, 1.461rem + 1.2326vw, 2.25rem);

	@container details-wrapper (width >= 24rem) {
		grid-template-columns: 1fr auto;
	}
}

.contact-form__submit-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	min-inline-size: 11.5rem;
	min-block-size: 3rem;
	background-color: var(--primary-red-400);
	color: var(--text-inverse);
	padding-inline: 1.6em;
	border-radius: 0.5em;
	corner-shape: squircle;
	cursor: pointer;
	font-size: var(--fs-s);
	font-weight: 500;
	text-box: trim-both cap alphabetic;
	transition:
		all 0.3s,
		scale 0.15s ease;

	&:active {
		scale: 0.95;
	}

	&:hover {
		@media (hover: hover) {
			background-color: var(--neutral-grey-50);
			color: var(--primary-red-400);
			box-shadow:
				var(--shadow),
				0 0 0px 2px var(--primary-red-400);
		}
	}

	&:disabled {
		background-color: var(--disabled-bg);
		color: var(--text-inverse);
		box-shadow: none;
		cursor: not-allowed;
	}
}

.contact-form__loader-icon {
	display: none;
	inline-size: 1.5rem;
	block-size: 1.5rem;
	aspect-ratio: 1;
	border-radius: 50%;
	background:
		radial-gradient(farthest-side, var(--loader) 94%, #0000) top / 6px 6px
		no-repeat,
		conic-gradient(#0000 30%, var(--loader));
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);
	animation: loader 1s infinite linear;
}

@keyframes loader {
	to {
		transform: rotate(1turn);
	}
}

.contact-form__submit-button:disabled {
	/* show loader spinner when button disabled */
	.contact-form__loader-icon {
		display: inline;
	}
}
