.contact-form {
	display: grid;
	align-items: start;
	gap: 1rem;
	margin-block-start: clamp(1.75rem, 1.461rem + 1.2326vw, 2.25rem);

	@container details-wrapper (width >= 24rem) {
		grid-template-columns: 1fr auto;
	}
}

.contact-form__submit-button {
	min-block-size: 3rem;
	background-color: var(--primary-red-400);
	color: var(--text-inverse);
	padding-inline: 1.6em;
	border-radius: 0.5em;
	corner-shape: squircle;
	cursor: pointer;
	font-size: var(--fs-s);
	font-weight: 500;
	text-box: trim-both cap alphabetic;
	transition:
		all 0.3s,
		scale 0.15s ease;

	&:active {
		scale: 0.95;
	}

	&:hover {
		@media (hover: hover) {
			background-color: var(--neutral-grey-50);
			color: var(--primary-red-400);
			box-shadow:
				var(--shadow),
				0 0 0px 2px var(--primary-red-400);
		}
	}
}
