.contact-form {
	display: grid;
	align-items: start;
	gap: 1rem;
	margin-block-start: clamp(1.75rem, 1.461rem + 1.2326vw, 2.25rem);

	@container details-wrapper (width >= 24rem) {
		grid-template-columns: 1fr auto;
	}
}

.contact-form:has(button:disabled) {
	/* show loader spinner when button disabled */
	.contact-form__loader-icon {
		display: inline;
	}
}
