---
import Layout from "@layouts/Layout.astro";

import Hero from "@components/MainContent/Hero.astro";

import "@styles/pages/index.css";
---

<Layout>
	<main class="content">
		<div class="content__wrapper">
			<Hero />
		</div>
	</main>
</Layout>
