---
import Layout from "@layouts/Layout.astro";

import Hero from "@components/hero/Hero.astro";
import Features from "@components/features/Features";
import ButtonLink from "@components/shared/ButtonLink.astro";
import BgShape from "@components/shared/BgShape.astro";
import Extension from "@components/extension/Extension.astro";
import Faq from "@components/faq/Faq.astro";
import ContactUs from "@components/contact-us/ContactUs.astro";

import "@styles/pages/index.css";
---

<Layout>
	<main class="content">
		<div class="content__wrapper">
			<Hero />
			<Features client:load>
				<BgShape isReverse />
				<ButtonLink href="#" class="feature-content__button-link">
					More Info
				</ButtonLink>
			</Features>
			<Extension />
			<Faq />
			<ContactUs />
		</div>
	</main>
</Layout>
