.header {
	position: sticky;
	container: header / scroll-state;
	inset-block-start: 0;
	z-index: calc(var(--z-overlay) + 1);
	background-color: var(--neutral-grey-50);
	padding-inline: 1rem;
	transition:
		translate 0.3s, /* header hide / appear transition */
		background-color 0.4s 1.5s ease; /* mobile menu close transition */

	/* hide header on scroll down and appear on scroll up for supported browser */
	/* header will stay sticky for unsupported browser */
	@supports (container-type: scroll-state) {
		/* Hide on scroll down */
		@container root-scroll scroll-state(scrolled: block-end) {
			translate: 0 -100%;
		}

		/* Appear on scroll back up */
		@container root-scroll scroll-state(scrolled: block-start) {
			translate: 0 0;
		}

		/* add box shadow when header stuck */
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: -1;
			pointer-events: none;
			transition: box-shadow 0.3s ease;

			@container header scroll-state(stuck: block-start) {
				box-shadow: var(--shadow);
			}
		}
	}
}

.header__wrapper {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 1.5rem;
	max-inline-size: 77.5rem;
	margin-inline: auto;
	padding-inline: 2rem;
	padding-block: 1rem;
}

.header__bookmark-link {
	position: relative;
	z-index: calc(var(--z-overlay) + 1);
	margin-inline-end: auto;
}

.header__bookmark-logo {
	color: var(--text);

	/* close transition */
	transition: all 0.4s 1.5s ease;
}

.header__desktop-menu {
	display: none;
	gap: 1.6rem;

	@media (width >= 44rem) {
		display: flex;
	}
}

.header__lists {
	display: flex;
}

.header__hamburger-menu {
	position: relative;
	z-index: calc(var(--z-overlay) + 1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;

	@media (width >= 44rem) {
		display: none;
	}
}

.header__hamburger-icon {
	block-size: 3px;
	inline-size: 1.6rem;
	background-color: var(--text);
	translate: 0 0;
	rotate: 0deg;

	/* close transition */
	transition:
		background-color 0.4s 1.5s ease,
		rotate 0.4s ease;
}

.mobile-menu {
	display: none;
	position: fixed;
	inset: 0;
	z-index: var(--z-overlay);
	grid-template-rows: auto auto 1fr;
	justify-items: center;
	align-items: end;
	gap: 2.2rem;
	overflow-y: hidden; /* fallback for browser that didn't support overflow clip */
	block-size: clamp(4.5rem, 3.9221rem + 2.4653vw, 5.5rem);
	padding-inline: 2rem;
	padding-block-end: 3rem;
	opacity: 0;
	background-color: var(--mobile-menu-bg);
	backdrop-filter: blur(5px);

	/* close transition */
	transition:
		display 0.4s 1.5s ease allow-discrete,
		opacity 0.4s 1.5s ease,
		block-size 1.5s;

	@supports (overflow-x: clip) {
		overflow-x: clip;
	}
}

.mobile-menu__lists {
	display: grid;
	justify-items: center;
	gap: 1.1rem;
	margin-block-start: 7.1rem;
}

.mobile-menu__social-media-icon {
	block-size: max-content;
}

.header:has(.header__hamburger-menu[aria-expanded="true"]) {
	background-color: transparent;

	/* open transition */
	transition: all 0.4s ease;

	.header__bookmark-logo {
		color: var(--neutral-grey-50);

		/* open transition */
		transition: all 0.4s ease;
	}

	.header__hamburger-icon {
		background-color: var(--neutral-grey-50);

		/* open transition */
		transition: all 0.4s ease;

		&:first-child {
			translate: 0 0.6rem;
			rotate: -45deg;
		}

		&:nth-child(2) {
			scale: 0;
		}

		&:last-child {
			translate: 0 -0.6rem;
			rotate: 45deg;
		}
	}

	~ .mobile-menu {
		display: grid;
		block-size: 100%;
		opacity: 1;

		/* open transition */
		transition:
			display 0.4s ease allow-discrete,
			opacity 0.4s ease,
			block-size 1.5s 0.4s;

		@starting-style {
			opacity: 0;
			block-size: clamp(4.5rem, 3.9221rem + 2.4653vw, 5.5rem);
		}

		@media (width >= 44rem) {
			display: none;
		}
	}
}
