.feature-content {
	display: grid;
	row-gap: 3.5rem;
	column-gap: 7.8rem;
	justify-items: center;
	align-items: center;
	max-inline-size: 32rem;
	min-block-size: 29rem;

	@media (width >= 64rem) {
		grid-template-columns: auto minmax(38%, 1fr);
		max-inline-size: 72rem;
	}
}

.feature-content__image-wrapper {
	anchor-name: --features;

	display: grid;
	align-items: center;
	max-inline-size: 27rem;
	min-block-size: 100%;
	padding-block-end: clamp(2.3rem, 0.451rem + 7.889vw, 5.5rem);
	z-index: calc(var(--z-base) + 1);
}

.feature-content__details {
	align-self: start;
	text-align: center;

	@media (width >= 64rem) {
		margin-block-start: 5rem;
		text-align: start;
	}
}
