---
import "@components/footer/Footer.css";
---

<footer class="footer">
  <div class="footer__content-wrapper">
    <p class="attribution">
      Challenge by{" "}
      <a
        class="attribution__link"
        href="https://www.frontendmentor.io?ref=challenge"
        target="_blank"
        rel="noopener noreferrer">
        Frontend Mentor
      </a>
      . Coded by{" "}
      <a
        class="attribution__link"
        href="https://github.com/forceclosee"
        target="_blank"
        rel="noopener noreferrer">
        ForceClose
      </a>.
    </p>
  </div>
</footer>
