.footer {
  min-block-size: 3rem;
  inline-size: 100%;
  background-color: var(--neutral-blue950);
  color: var(--neutral-grey50);
}

.footer__content-wrapper {
  display: grid;
  justify-items: center;
  block-size: 100%;
}

.attribution {
  padding: 0.5rem;
  font-size: 0.6875rem;
}

.attribution__link {
  text-decoration: none;
  color: var(--primary-red-400);
}
