.footer {
	min-block-size: 3rem;
	background-color: var(--neutral-blue950);
}

.footer__content-wrapper {
	display: grid;
	justify-items: center;
	block-size: 100%;
}

.attribution {
	color: var(--neutral-grey50);
	padding: 0.5rem;
	font-size: var(--fs-3xs);
}

.attribution__link {
	text-decoration: none;
	color: var(--primary-red-400);
}
