html {
	container: root-scroll / scroll-state;
}

.page-wrapper {
	position: relative;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-block-size: 100svh;
	background-color: var(--neutral-grey-50);

	@media (width >= 44rem) {
		padding-block-start: 2rem;
	}
}
