html {
	container: root-scroll / scroll-state;
}

body:has(dialog[open], .header__hamburger-menu[aria-expanded="true"]) {
	overflow: hidden;

	@supports (overflow: clip) {
		overflow: clip;
	}
}

.page-wrapper {
	position: relative;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-block-size: 100svh;
	background-color: var(--neutral-grey-50);
}
