/* set default font property */
body {
	font-family: var(--font-rubik);
	font-weight: 400;
}

/* Improve line wrapping */
h4,
h5,
h6 {
	text-wrap: balance;
}

h1 {
	color: var(--text);
	font-size: var(--fs-3xl);
	font-weight: 500;
	line-height: 1.3;
	text-wrap: balance;

	@media (width >= 64rem) {
		line-height: 1.1;
	}
}

h2 {
	color: var(--text);
	font-size: var(--fs-2xl);
	font-weight: 500;
	text-wrap: balance;
}

h3 {
	color: var(--text);
	font-size: 21px;
	font-weight: 500;
	text-wrap: balance;
}

p {
	color: var(--text-muted);
	font-size: var(--fs-m);
	line-height: 1.65;
	text-wrap: pretty;

	@media (width >= 64rem) {
		line-height: 1.55;
	}
}

/* pindahkan line height ke variable dengan nama leading- */
