/* set default font property */
body {
  font-family: var(--font-rubik);
  font-weight: 400;
}

/* Improve line wrapping */
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  font-size: var(--fs-3xl);
  font-weight: 500;
  line-height: 1.3;

  @media (width >= 64rem) {
    line-height: 1.1;
  }

  /* Improve line wrapping */
  text-wrap: balance;
}

p {
  /* set font property */
  font-size: var(--fs-m);
  line-height: 1.65;

  @media (width >= 64rem) {
    line-height: 1.55;
  }

  /* Improve line wrapping */
  text-wrap: pretty;
}

/* pindahkan line height ke variable dengan nama leading- */
