.flow > * + * {
	margin-block-start: 1.5em;
}

.sr-only {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.hover-underline {
	background:
		linear-gradient(currentColor 0 0) var(--p, 0) 100% / var(--d, 0) 3px
		no-repeat;

	transition:
		0.3s,
		background-position 0s 0.3s;

	&:hover {
		@media (hover: hover) {
			--d: 100%;
			--p: 100%;
		}
	}
}
