:root {
	/* color */
	--primary-blue-600: oklch(0.565 0.182 271.76);
	--primary-red-400: oklch(0.676 0.199 24.15);

	--neutral-grey-50: oklch(0.977 0 0);
	--neutral-grey-100: color-mix(in oklch, var(--neutral-grey-50) 99%, black);
	--neutral-blue-950: oklch(0.297 0.05 273.36);

	--text: color-mix(in oklch, var(--neutral-blue-950) 93%, white);
	--text-muted: color-mix(in oklch, var(--neutral-blue-950) 50%, white);
	--text-button: color-mix(in oklch, var(--neutral-blue-950) 70%, white);
	--text-placeholder: color-mix(in oklch, var(--neutral-blue-950) 30%, white);

	--text-inverse: color-mix(in oklch, var(--neutral-grey-50) 95%, black);
	--text-inverse-muted: color-mix(in oklch, var(--neutral-grey-50) 87%, black);

	--border: color-mix(in oklch, var(--neutral-blue-950) 15%, white);
	--border-inverse: color-mix(in oklch, var(--neutral-grey-50) 50%, black);

	--input-border: oklch(0.769 0.188 70.08);

	--input-bg-invalid: oklch(0.936 0.032 17.717);
	--input-border-invalid: oklch(63.7% 0.237 25.331);

	--input-bg-valid: oklch(0.962 0.044 156.743);
	--input-border-valid: oklch(0.723 0.219 149.579);

	/* font size */
	--fs-3xs: 0.6875rem; /* 11px */
	--fs-xs: 0.8125rem; /* 13px */
	--fs-xs-reverse: clamp(0.875rem, 1.0722rem + -0.3081vw, 1rem); /* 16 - 14px */
	--fs-s: 0.90625rem; /* 14.5px */
	--fs-md: 0.9375rem; /* 15px */
	--fs-m: clamp(0.9375rem, 0.8292rem + 0.4622vw, 1.125rem); /* 15px - 18px */
	--fs-l: 1.0625rem; /* 17px */
	--fs-2xl: clamp(1.5rem, 1.2111rem + 1.2327vw, 2rem); /* 24px - 32px */
	--fs-3xl: clamp(1.875rem, 1.225rem + 2.7735vw, 3rem); /* 30px - 48px */

	/* box shadow */
	--shadow-color: 232deg 59% 36%;
	--shadow:
		0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
		1px 1.9px 3.2px hsl(var(--shadow-color) / 0.03),
		1.9px 3.8px 6.4px hsl(var(--shadow-color) / 0.05),
		3.8px 7.6px 12.7px hsl(var(--shadow-color) / 0.08);
}
