---
import "@components/MainContent/BgShape.css";

type Props = {
	isReverse?: boolean;
};

const { isReverse = false } = Astro.props;
---

<div
	aria-hidden="true"
	class:list={["bg-shape", { "bg-shape--reverse": isReverse }]}></div>
