---
import ContactForm from "@components/MainContent/ContactForm";

import "@components/MainContent/ContactUs.css";
---

<section class="contact-us">
	<div class="contact-us__details-wrapper flow">
		<span class="contact-us__text">35,000+ already joined</span>
		<h2 class="contact-us__title">Stay up-to-date with what we’re doing</h2>
		<ContactForm client:visible />
	</div>
</section>
