.tab-desktop {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	max-inline-size: 100%;
	padding: 0.3rem;
	white-space: nowrap;
}

.tab-desktop__button {
	flex-shrink: 0;
	background-color: transparent;
	color: var(--text-button);
	padding-inline: clamp(1rem, 0.1332rem + 3.6979vw, 2.5rem);
	padding-block: 1.5rem;
	cursor: pointer;
	font-size: var(--fs-l);
	background:
		linear-gradient(var(--primary-red-400) 0 0) bottom / var(--d, 0) 4px
		no-repeat;
	transition: 0.5s;

	&:hover {
		@media (hover: hover) {
			--d: 100%;
		}
	}

	&[aria-selected="true"] {
		--d: 100%;
	}
}
