.tab-mobile {
	inline-size: 100%;
	color: var(--text);
	padding-inline: 1rem;
	padding-block: 0.4em;
	border-radius: 0.25em;
	font-weight: 500;
	cursor: pointer;

	&::picker-icon {
		content: "";
		inline-size: 1em;
		block-size: auto;
		-webkit-mask-image: url(../../img/chevron-down-solid-full.svg);
		mask-image: url(../../img/chevron-down-solid-full.svg);
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-position: center;
		mask-position: center;
		background-color: var(--text-button);
		transition: rotate 0.3s;
	}

	&:open::picker-icon {
		rotate: 180deg;
	}
	font-size: var(--fs-l);

	@media (width >= 48rem) {
		display: none;
	}
}

::picker(select) {
	opacity: 0;
	block-size: 0;
	overflow-y: clip;
	position-area: block-end span-inline-end;
	position-try-fallbacks: none;
	max-inline-size: anchor-size(inline);
	min-block-size: 0;
	border: 1px solid var(--text-button);
	border-radius: 0.25em;
	transition: all 0.4s ease-in-out allow-discrete;
}

:open::picker(select) {
	opacity: 1;
	inset-block-start: calc(anchor(end) + 0.1rem);
	block-size: auto;

	@starting-style {
		opacity: 0;
		block-size: 0;
	}
}

.tab-mobile__option {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
	background-color: var(--bg-card);
	color: var(--text-button);
	padding-inline: 1rem;
	padding-block: 0.2rem;
	white-space: normal;
	transition: all 0.2s ease-in-out;

	&:not(:last-child) {
		border-block-end: 1px solid var(--text-muted);
	}

	&:checked {
		color: var(--text);
		font-weight: 500;
	}

	&::checkmark {
		order: 1;
		inline-size: 1em;
		block-size: auto;
		margin-inline-start: auto;
		-webkit-mask-image: url(../../img/check-solid-full.svg);
		mask-image: url(../../img/check-solid-full.svg);
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-position: center;
		mask-position: center;
		background-color: var(--text-button);
	}
}

.tab-desktop {
	display: none;
	gap: 1rem;

	@media (width >= 48rem) {
		display: flex;
	}
}

.tab-desktop__button {
	border: none;
	background-color: transparent;
	color: var(--text-button);
	padding-inline: 2.5rem;
	padding-block: 1.5rem;
	cursor: pointer;
	font-size: var(--fs-l);
	/* border-block-end: 4px solid var(--primary-red-400); */
}
