.hero {
	display: grid;
	gap: 3.5rem;
	justify-items: center;
	align-items: center;
	max-inline-size: 30rem;

	@media (width >= 48rem) {
		max-inline-size: 34rem;
	}

	@media (width >= 64rem) {
		grid-template-columns: minmax(40%, 1fr) auto;
		max-inline-size: 78.4rem;
	}
}

.hero__image-wrapper {
	anchor-name: --hero;

	@media (width >= 64rem) {
		order: 1;
	}
}

.hero__image {
	max-block-size: auto;
	padding-inline: 0.75rem;
	padding-block-end: clamp(0.625rem, -0.0612rem + 2.9276vw, 1.8125rem);

	@media (width >= 64rem) {
		padding-inline: 0;
	}
}

.hero__details-wrapper {
	text-align: center;
	padding-inline: 2rem;

	@media (width >= 64rem) {
		text-align: start;
		padding-inline-end: 0;
	}
}

.hero__title {
	color: var(--text);
}

.hero__detail {
	color: var(--text-muted);
}

.hero__button-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;

	@media (width >= 64rem) {
		justify-content: start;
	}
}
