---
import BgShape from "@components/MainContent/BgShape.astro";
import ButtonLink from "@components/shared/ButtonLink.astro";

import heroImage from "@img/illustration-hero.svg";

import "@components/MainContent/Hero.css";
---

<section class="hero">
	<div class="hero__image-wrapper">
		<img aria-hidden="true" class="hero__image" src={heroImage.src} alt="">
		<BgShape />
	</div>
	<div class="hero__details-wrapper flow">
		<h1 class="hero__title">A Simple Bookmark Manager</h1>
		<p class="hero__detail">
			A clean and simple interface to organize your favourite websites. Open a
			new browser tab and see your sites load instantly. Try it for free.
		</p>
		<div class="hero__button-wrapper">
			<ButtonLink href="#"> Get it on Chrome </ButtonLink>
			<ButtonLink href="#" variant="secondary"> Get it on Firefox </ButtonLink>
		</div>
	</div>
</section>
